body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.App {
  font-family: sans-serif;
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
}
.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info {
  /* flex-grow: f; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.img {
  border: 2px solid rgb(0, 238, 255);
  border-radius: 10px;
}
.deleteBtn {
  width: 150px;
  background-color: rgb(0, 238, 255);
  border-radius: 5px;
  border: none;
}

.reloadBtn {
  align-self: flex-end;
  border: 2px solid #fff;
  border-radius: 5px;
  color: black;
  background-color: rgba(238, 174, 202, 1);
  /* width: 100%; */
}

/* spiner */
/* .lds-heart {
  display: block;
  margin: 15rem auto;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
} */

.lds-hourglass {
  display: block;
  margin: 25rem auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: rgb(0, 238, 255) transparent rgb(0, 238, 255) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
