body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.App {
  font-family: sans-serif;
  display: flex;

}

ul {
  display: flex;
  list-style-type: none;
}
.ListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.Img {
  border: 2px solid rgb(0, 238, 255);
  border-radius: 100px;
}
.DeleteBtn {
  width: 150px;
  background-color: rgb(0, 238, 255);
  border-radius: 5px;
  border: none;
}
.ChangeInfoBtn {
  width: 150px;
  background-color: rgb(208, 88, 212);
  border-radius: 5px;
  border: none;
}
.FilterUsers {
  background-color: rgba(238, 174, 202, 1);
  border: 2px solid rgb(0, 238, 255);
  border-radius: 10px;
}

.ReloadBtn {
  border: 2px solid rgb(0, 238, 255);
  border-radius: 5px;
  color: #111;
  background-color: rgba(238, 174, 202, 1);
  margin-left:7rem;
  width: 60%;
}

/* spiner */
.lds-hourglass {
  display: block;
  margin: 50vw auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: rgb(0, 238, 255) transparent rgb(0, 238, 255) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
